{% extends "otree/BaseAdmin.html" %}
{% load staticfiles %}
{% block title %}
    List of batches for this session
{% endblock %}

{% block content %}

{{ infoall }}
    {% if object_list %}
        <table class="table table-hover table-striped">
        <thead>
        <th>sender_batch_id</th>
        <th>payout_batch_id</th>
        <th>total_amount</th>
        <th>batch_status</th>
        <th>number of recipients</th>
        </thead>
            <tbody>
            {% for batch in object_list %}
                <tr>
                    <td><a href="{% url 'batch_detail' batch.pk %}">{{ batch.sender_batch_id }}</a></td>
                    <td><a href="{% url 'batch_detail' batch.pk %}">{{ batch.payout_batch_id }}</a></td>
                    <td>{{ batch.total_amount}}</td>
                    <td>{{ batch.batch_status}}</td>
                    <td>{{ batch.count_recipients}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <li>No batches yet for this session.</li>
    {% endif %}
{% endblock %}

{% block internal_styles %}

    {{ block.super }}

{% endblock %}

