{% extends "otree/BaseAdmin.html" %}
{% load staticfiles otree %}
{% block title %}
    Edit PPP
{% endblock %}

{% block content %}

           <form action="" method="post">{% csrf_token %}
    <div class="m-a-md">

            {{ form }}

    </div>
    <div>
        <a href="{{ success_url }}" class="btn btn-info btn-lg " role="button">Back</a>
        <button type="submit" class="btn btn-success btn-lg">Submit</button>
    </div>
    </form>
{% endblock %}

{% block internal_styles %}
    <style>
    .m-a-md{margin-bottom: 10px;}
    </style>
    {{ block.super }}

{% endblock %}

