{% extends "otree/BaseAdmin.html" %}
{% load staticfiles otree %}
{% block title %}
    Link to session {{ linked_session.session.code }}. Payments via PayPal
{% endblock %}

{% block content %}
    <h4>Payments to make:</h4>
    {% if to_process_payments %}
        <form action="" method="post">
            {% csrf_token %}
            {% if  form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}


            {{ ppp_formset.management_form }}
            <table class="table table-hover table-striped ">
                <thead>
                <tr>
                    <th>Participant code:</th>
                    <th>Amount to pay:</th>
                    <th>E-mail:</th>
                    <th width="100px">
                        <div class="float-right">
                            To pay
                            <label>
                                <input name="checkAll" type="checkbox"
                                       value="">
                            </label>
                        </div>
                    </th>
                    <th></th>


                </tr>
                </thead>
                {% for form in ppp_formset.forms %}
                    <tr>
                        <td>{{ form.instance.participant.code }}</td>
                        <td>{{ form.instance.amount }}</td>
                        <td>{{ form.instance.email }}</td>
                        <td>
                            <div class="float-right">{% formfield form.to_pay label=" " %}
                                {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                {% endfor %}
                            </div>
                        </td>
                        <td><a href="{% url 'edit_ppp' form.instance.pk %}" role="button"
                               class="btn btn-sm btn-dark">Edit</a></td>

                    </tr>
                {% endfor %}
            </table>

            <div class="row">
                <div class="col">
                    <div class="btn-group float-right mb-3" role="group" aria-label="Payment">
                        <a href="{% url 'linked_sessions_list' %}" class="btn  btn-lg btn-outline-dark "
                           role="button">Cancel</a>
                        <button type="submit" class="btn  btn-lg btn-pay float-right  btn-success" disabled>Pay</button>


                    </div>
                </div>
            </div>
        </form>
    {% else %}
        <div class="alert alert-info" role="alert">
            All payments have been already made.
        </div>
    {% endif %}
    <div class="row">
        <div class="col">
            <h4>Payments already made:</h4>
        </div>
    </div>
    {% if processed_payments %}
    {% include 'paypal_ext/includes/ppp_table.html' %}
    {% else %}
        <div class="alert alert-info" role="alert">
            No payments have been made so far.
        </div>
    {% endif %}
     <a href="{% url 'linked_sessions_list' %}" class="btn  btn-lg btn-outline-dark "
                           role="button">Back</a>
{% endblock %}

{% block internal_styles %}
    <style>
        .btn-pay {
            border: solid 1px black !important;
        }
    </style>
    {{ block.super }}

{% endblock %}

{% block internal_scripts %}

    {{ block.super }}
    <script>


        $(function () {
            checkFunction('to_pay', 'checkAll');
        });

        function checkFunction(checkName, checkAllName) {
            // code for "checkAll" checkbox
            $('input[name=' + checkAllName + ']').click(function () {

                $('input.' + checkName).prop('checked', $(this).prop('checked')).trigger("change")
            });
            // if all checkboxes are selected check also "checkAll" checkbox
            $('input.' + checkName).change(function () {
                var length_all_checked = $("input." + checkName + ":checked").length;
                var check = (length_all_checked == $("input." + checkName).length);
                $("input[name=" + checkAllName + "]").prop('checked', check);
                if (length_all_checked > 0) {
                    $('button.btn-pay').prop("disabled", false);
                } else {
                    $('button.btn-pay').prop("disabled", true);
                }
                ;
            })
        }
    </script>

{% endblock %}
