{% extends "otree/BaseAdmin.html" %}
{% load staticfiles otree %}
{% block title %}
    PPP objects for session {{ linked_session.session.code }}
{% endblock %}

{% block content %}
    <div><h1>Batches:</h1>
        <a href="{% url 'batches' linked_session.pk %}" role="button" class="btn btn-lg btn-info">Get all batches for
            this session</a>
    </div>
    <form action="" method="post">
        {% csrf_token %}
        {% if  form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {{ form.non_field_errors }}
            </div>
        {% endif %}


        {{ ppp_formset.management_form }}
        <table class="table table-hover table-striped table-responsive">
            <thead>
            <tr>
                <th>Participant code:</th>
                <th>Amount to pay:</th>
                <th>E-mail:</th>
                <th>To pay:</th>
                <th>Payment status:</th>
                <th>Batch ID</th>
                <th></th>


            </tr>
            </thead>
            {% for form in ppp_formset.forms %}
                <tr>
                    <td>{{ form.instance.participant.code }}</td>
                    <td>{{ form.instance.amount }}</td>
                    <td>{{ form.instance.email }}</td>
                    <td>{% formfield form.to_pay label=" " %}               {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}</td>
                    <td>{{ form.instance.transaction_status }}</td>
                    <td>{{ form.instance.batch.sender_batch_id }}</td>
                    <td><a href="{% url 'edit_ppp' form.instance.pk %}" role="button"
                           class="btn btn-sm btn-dark">Edit</a></td>

                </tr>
            {% endfor %}
        </table>
        <a href="{% url 'linked_sessions_list' %}" class="btn btn-info btn-lg " role="button">Back</a>
        <button type="submit" class="btn btn-success btn-lg">Pay</button>
    </form>
{% endblock %}

{% block internal_styles %}

    {{ block.super }}

{% endblock %}

