{% extends "otree/BaseAdmin.html" %}
{% load staticfiles otree %}
{% block title %}
    Batch detail. Code {{ object.sender_batch_id }}
{% endblock %}

{% block content %}
    <div class="card">

        <div class="card-body">
            {{ batch_info }}
            <h5 class="card-title">Batch info:</h5>
            <p class="card-text">.</p>
            <p class="card-text">.</p>
            <p class="card-text">.</p>

        </div>
    </div>
    AAAA {% for p in ppps %} {{ p.transaction_status }} /// {{ p.payout_item_id }}  {% endfor %}
    <table class="table table-hover table-striped table-responsive">
        <thead>
        <tr>
            <th>Participant code:</th>
            <th>Amount to pay:</th>
            <th>E-mail:</th>
            <th>To pay:</th>
            <th>Payment status:</th>
            <th>Batch ID</th>
            <th></th>


        </tr>
        </thead>
        {% for p in ppp %}
            <tr>
                <td>{{ form.instance.participant.code }}</td>
                <td>{{ form.instance.amount }}</td>
                <td>{{ form.instance.email }}</td>
                <td>{% formfield form.to_pay label=" " %}               {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}</td>
                <td>{{ form.instance.get_inner_status_display }}</td>
                <td>{{ form.instance.batch.sender_batch_id }}</td>
                <td><a href="{% url 'edit_ppp' form.instance.pk %}" role="button"
                       class="btn btn-sm btn-dark">Edit</a></td>

            </tr>
        {% endfor %}
    </table>
    <a href="{% url 'linked_sessions_list' %}" class="btn btn-info btn-lg " role="button">Back</a>
    <button type="submit" class="btn btn-success btn-lg">Submit</button>
    </form>
{% endblock %}

{% block internal_styles %}

    {{ block.super }}

{% endblock %}

