{#    already submitted #}
<table class="table table-hover table-striped ">
    <thead>
    <tr>
        <th>Payout id:</th>
        <th>Amount to pay:</th>
        <th>E-mail:</th>
        <th>Payment status:</th>
        {% if linked_session %}
            <th>Batch ID</th>
        {% endif %}

    </tr>
    </thead>
    {% for p in processed_payments %}
        <tr>
            <td><a href="{% url 'ppp_detail' p.pk %}">{{ p.payout_item_id }}</a></td>

            <td>{{ p.amount }}</td>
            <td>{{ p.email }}</td>
            <td>{{ p.transaction_status }}</td>
            {% if linked_session %}
                <td><a href="{% url 'batch_detail' p.batch.pk %}">{{ p.batch.payout_batch_id }}</a></td>
            {% endif %}
        </tr>
    {% endfor %}
</table>
